@import '../styles/abstracts/colors';
@import '../styles/components/buttons';

.inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .title {
    font-weight: 700;
    line-height: 26px;
  }
  .description {
    font-size: 12px;
    line-height: 22px;
    color: $gray;
  }
  .route {
    margin-top: 15px;
    margin-left: 2px;
    .arrow {
      font-size: 24px;
      line-height: 32px;
      height: 32px;
      width: 24px;
      margin-left: 3px;
      margin-top: 7px;
      margin-bottom: 7px;
    }
    .adress {
      color: $gray;
    }
    .pickupPoint,
    .deliverPoint {
      display: flex;
      align-items: center;
    }
  }
  .map {
    padding-top: 34px;
    padding-bottom: 34px;
    width: 100%;
    position: relative;
    background: #000;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 9px;

    .mapImage {
      width: 100%;
      object-fit: cover;
      height: 100%;
      position: absolute;
      z-index: -1;
      opacity: 0.6;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    a {
      @include btn-yellow(11px, 12px);
      padding-left: 20px;
      padding-right: 20px;
      width: max-content;
      margin: auto;
    }
  }
}
