@import '../styles/abstracts/colors';
@import '../styles/components/buttons';

.transportItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 3px 50px rgba(153, 155, 168, 0.12);
  padding: 10px;
  @include border-radius(16px);
  @media (min-width: $breakpoint-tablet) {
    gap: 15px;
  }

  .blockInfo,
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .wrapper {
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }

  .imageBlock {
    @media (min-width: $breakpoint-tablet) {
      max-width: 300px;
      flex: 0 0 300px;
    }
    button {
      display: none;
      @media (min-width: $breakpoint-tablet) {
        margin-top: 20px;
        display: flex;
      }
      @media (min-width: $breakpoint-laptop) {
        display: none;
      }
    }
  }

  .blockInfo {
    &First,
    &Second {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (min-width: $breakpoint-laptop) {
        max-width: calc(50% - 5px);
        flex: 0 0 calc(50% - 5px);
      }
    }
    &Second {
      @media (min-width: $breakpoint-laptop) {
        margin-top: 15px;
      }
    }
    @media (min-width: $breakpoint-tablet) {
      max-width: calc(100% - 310px);
      flex: 0 0 calc(100% - 310px);
    }
    @media (min-width: $breakpoint-laptop) {
      flex-direction: row;
    }
    button {
      @media (min-width: $breakpoint-tablet) {
        display: none;
      }
      @media (min-width: $breakpoint-laptop) {
        display: block;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  .transportNumber {
    color: #ed9004;
    padding: 6px 30px;
    background: rgba(255, 199, 0, 0.1);
    border-radius: 6px;
    width: max-content;
  }

  .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    gap: 8px;
    @media (min-width: $breakpoint-tablet) {
      font-size: 16px;
    }

    img {
      margin-top: 4px;
    }
  }

  .address,
  .experience {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $gray;
  }
  .features {
    .button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      border: 1px solid $white;
      padding: 10px;
      cursor: pointer;
      @include border-radius(8px);

      .arrow {
        border: solid $dark-blue;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        margin-top: -2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: all 200ms ease-in-out;
      }
    }
    .content {
      @include border-radius(8px);
      border: 1px solid $white;
      margin-top: 5px;

      .item {
        padding: 15px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:first-child {
          padding-top: 15px;
        }
        &:last-child {
          padding-bottom: 20px;
        }
        &:nth-child(2n-1) {
          background-color: $white;
        }

        .label {
          font-size: 13px;
          line-height: 13px;
        }

        .value {
          font-weight: 500;
          font-size: 13px;
          line-height: 13px;
        }
      }
    }

    &.active {
      .button {
        box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.12);
        .arrow {
          margin-top: 2px;
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }
      }
    }
  }

  .priceBlock {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
    }

    .item {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $white;
      padding-top: 20px;
      padding-bottom: 20px;
      @include border-radius(4px);

      .price {
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;
        margin-bottom: 5px;
      }
      .metering {
        font-weight: 400;
        font-size: 15px;
        line-height: 12px;
        color: $gray;
      }
    }
  }

  .buttonContacts {
    width: 100%;
    @include btn-blue(12px, 12px);
  }

  .description {
    .label {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 3px;
    }
    .text {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: $gray;
    }
    .readMore {
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;
      text-decoration-line: underline;
      color: $dark-blue;
    }
  }
}

.transportItem {
  &.accountPage {
    .wrapper {
      flex-direction: column;
      @media (min-width: $breakpoint-xl) {
        flex-direction: row;
      }
    }
    .imageBlock {
      @media (min-width: $breakpoint-tablet) {
        max-width: 100%;
        flex: 0 0 100%;
      }
      @media (min-width: $breakpoint-xl) {
        max-width: 400px;
        flex: 0 0 400px;
      }
      button {
        display: none;
        @media (min-width: $breakpoint-xl) {
          margin-top: 20px;
          display: flex;
        }
      }
    }
    .blockInfo {
      &First,
      &Second {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (min-width: $breakpoint-laptop) {
          max-width: calc(50% - 5px);
          flex: 0 0 calc(50% - 5px);
        }
        @media (min-width: $breakpoint-xl) {
          max-width: 100%;
          flex: 1 0 auto;
        }
      }
      @media (min-width: $breakpoint-tablet) {
        max-width: 100%;
        flex: 0 0 100%;
      }
      @media (min-width: $breakpoint-xl) {
        flex-direction: column;
        max-width: calc(100% - 410px);
        flex: 0 0 calc(100% - 410px);
      }
      button {
        display: block;
        @media (min-width: $breakpoint-xl) {
          display: none;
        }
      }
    }
  }
}
