@import 'abstracts/colors';
@import 'abstracts/mixins';
@import 'components/buttons';
@import 'pages/front-page';
@import 'pages/cargos';
@import 'pages/transport';
@import 'pages/account';

html,
body {
  font-family: 'Inter', Arial, sans-serif;
  color: $dark-blue;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
  outline: none;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  background: rgba(0, 0, 0, 0);
  list-style: none;
}
.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
.text-yellow {
  color: $yellow;
}
.text-green {
  color: $green;
}
h1,
.h1 {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  @media (min-width: $breakpoint-tablet) {
    font-size: 48px;
    line-height: 56.5px;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: 75px;
    line-height: 74px;
  }
}
h3,
.h3 {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  @media (min-width: $breakpoint-tablet) {
    font-size: 36px;
    line-height: 36px;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: 48px;
    line-height: normal;
  }
}
a {
  color: $dark-blue;
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
main {
  padding-top: 54px;
  @media (min-width: $breakpoint-tablet) {
    padding-top: 80px;
  }
  @media (min-width: $breakpoint-xl) {
    padding-top: 94px;
  }
}
.container {
  padding-left: 12px;
  padding-right: 12px;
  @media (min-width: $breakpoint-tablet) {
    margin: auto;
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: $breakpoint-laptop) {
    max-width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: $breakpoint-xl) {
    max-width: 1440px;
    padding-left: 70px;
    padding-right: 70px;
  }
}
.social-icons {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 20px;
  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 25px;
  }

  a {
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: $gray;

    svg {
      width: 20px;
    }
  }
}
.header-section {
  position: relative;
  .page-title-block {
    padding-top: 15px;
    padding-bottom: 15px;
    @media (min-width: $breakpoint-tablet) {
      padding-top: 30px;
      padding-bottom: 45px;
      display: flex;
    }
    @media (min-width: $breakpoint-laptop) {
      padding-top: 60px;
      padding-bottom: 200px;
    }

    .page-title-content {
      @media (min-width: $breakpoint-tablet) {
        width: 70%;
      }
      @media (min-width: $breakpoint-laptop) {
        width: 50%;
      }
    }

    .page-title {
      color: #fff;
      text-align: center;
      margin-bottom: 15px;
      @media (min-width: $breakpoint-tablet) {
        text-align: left;
        margin-bottom: 20px;
      }
      @media (min-width: $breakpoint-xl) {
        margin-bottom: 40px;
      }
    }
    .page-sub-title {
      text-align: center;
      color: $white;
      @media (min-width: $breakpoint-tablet) {
        font-size: 24px;
        line-height: 27px;
        text-align: left;
      }
      @media (min-width: $breakpoint-xl) {
        font-size: 32px;
      }
    }
    .page-header-buttons {
      @media (min-width: $breakpoint-tablet) {
        display: flex;
        gap: 10px;
        margin-top: 30px;
      }
      @media (min-width: $breakpoint-xl) {
        margin-top: 40px;
      }
    }
    .add-order {
      margin: auto;
      width: 278px;
      @include btn-yellow(15px, 15px);
      margin-top: 25px;
      margin-bottom: 17px;
      @media (min-width: $breakpoint-tablet) {
        font-size: 16px;
        width: 220px;
        margin: 0;
      }
    }
    .add-transport {
      margin: auto;
      width: 278px;
      @include btn-white(15px, 15px);
      @media (min-width: $breakpoint-tablet) {
        font-size: 16px;
        margin: 0;
      }
    }
    img {
      height: auto;
      object-fit: cover;
    }
    .content-image {
      margin-left: -12px;
      margin-right: -12px;
      width: calc(100% + 24px);
      @media (min-width: $breakpoint-tablet) {
        margin-left: 0;
        margin-right: 0;
        top: 0;
        right: 0;
        z-index: -1;
        position: absolute;
        width: 436px;
      }
      @media (min-width: $breakpoint-laptop) {
        width: 600px;
      }
      @media (min-width: $breakpoint-xl) {
        width: 800px;
      }
    }
  }
  .bg-image {
    clip-path: polygon(43% 73%, 75% 84%, 66% 100%, 0 100%, 0 0, 100% 0, 100% 27%);
    position: absolute;
    object-fit: cover;
    top: -100px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% + 100px);
    z-index: -2;
  }
}
.first-section {
  margin-top: -30px;
  @media (min-width: $breakpoint-laptop) {
    margin-top: -120px;
  }
}
.category-transport-block {
  margin-bottom: 36px;
  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 100px;
  }
  h3 {
    text-align: center;
    line-height: 36px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 20px;
    }
    @media (min-width: $breakpoint-xl) {
      margin-bottom: 30px;
      line-height: normal;
    }
  }
  p {
    text-align: center;
    margin-bottom: 32px;
    @media (min-width: $breakpoint-tablet) {
      font-size: 20px;
      line-height: 21px;
    }
    @media (min-width: $breakpoint-xl) {
      font-size: 24px;
      margin-bottom: 60px;
    }
  }
}
.go-back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border: 1px solid $white;
  border-radius: 10px;
  margin-bottom: 10px;

  .arrow {
    border: solid $white;
    border-width: 0 0 2px 2px;
    display: inline-block;
    margin-left: 2px;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.cargo-list {
  margin-bottom: 30px;
  .cargo-list-button {
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;
      margin-bottom: 15px;
    }
    .add-order {
      @include btn-blue(10px, 11px);
      width: 142px;
    }
  }
  h3 {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    @media (min-width: $breakpoint-tablet) {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 20px;
    }
  }
  p {
    text-align: center;
    margin-bottom: 30px;
    @media (min-width: $breakpoint-tablet) {
      font-size: 20px;
      line-height: 21px;
      margin-bottom: 40px;
    }
  }
}
.transport-list {
  margin-bottom: 30px;
}
.separator-black {
  height: 14px;
  background-image: url(/icons/separator.svg);
  background-color: $dark-blue;
}
.separator-white {
  height: 0;
  hr {
    height: 41px;
    background-image: url(/icons/separator-white.svg);
    position: relative;
    top: -20.5px;
  }
}
.white-background {
  background: #ffffff;
  box-shadow: 0px 3px 50px rgba(153, 155, 168, 0.12);
  padding: 15px 10px;
  @include border-radius(16px);
  @media (min-width: $breakpoint-tablet) {
    padding: 30px;
  }
  @media (min-width: $breakpoint-xl) {
    padding: 40px;
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-page-title {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 15px;
}
.form-block-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 15px;
}
form label {
  display: block;
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  span {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
  }
}
form input,
form select,
form textarea {
  border: 1px solid #eee;
  @include border-radius(8px);
  padding: 20px 16px;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  color: $dark-blue;

  &::placeholder {
    color: rgba(0, 0, 0, 0.6);
  }
}
form textarea {
  height: 168px;
}
.form-file {
  &-block {
    cursor: pointer;
    border: 1px dashed #eee;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    color: $gray;

    &.drag-over {
      border: 2px dashed blue;
    }
  }
  &-images {
    margin-bottom: 10px;

    .images-item {
      width: min-content;
      position: relative;
      min-width: 160px;
      height: 100px;
    }

    .delete-button {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      background-color: #d80027;
      border-radius: 50%;
      height: 46px;
      width: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .form-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-control {
    display: flex;
    align-items: center;
    gap: 20px;

    button {
      @include btn-blue(13px, 14px);
      width: 200px;
    }
    span {
      font-size: 14px;
      color: $gray;
    }
  }
}
form .user-agreement {
  margin-bottom: 15px;
}
form button[type='submit'] {
  width: 100%;
  @include btn-green(13px, 14px);
}
*:disabled {
  cursor: text;
  background-color: #9a9ea73b;
}
form select,
.label-checkbox,
input[type='checkbox'] {
  cursor: pointer;
}
.label-checkbox {
  display: flex;
  align-items: center;
}
.messenger-contacts {
  display: flex;
  gap: 25px;
  label {
    input[type='checkbox'] {
      &:checked + span {
        color: $green;
      }
    }
  }
}
